.container {
  &-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &-card-content {
    width: 60%;
    margin: 15px;
    padding: 15px;
  }
}
